<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">PepeJam Music Player</h1>
                <br>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> What is PepeJam?
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"><i class="fab fa-itunes-note"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Free Music</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>The purpose of this website is to enable
                                           the user the easy access to all the music
                                           they might possibly want. Music is great
                                           , and we need to use the technology as simple
                                           as possible for everyone on the Internet to enjoy
                                           it the way they always wanted to. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fas fa-clock"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Save time</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>PepeJam is designed to be very user-friendly and easy to use.
                                            </p>

                                        <p>It is also extremely fast and responsive,
                                        so the user won't waste time.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"><i class="fas fa-money-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Save money</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Our app is one of the cheapest of the sort on the
                                           market, while the quality is on par, if not better,
                                          than other apps. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fas fa-bullhorn"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">No ads</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>For now, we won't be including ads on our app,
                                           because at PepeJam, user experience and quality
                                            is valued above the monetary gains. You can enjoy
                                             listening to your favourite playlists freely,
                                              without annoying ads to ruin your mood. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge info"><i class="fas fa-quote-right"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Personalized recommendations</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>The website will gather data on which songs you
                                          like, and using some advanced algorithms recommend
                                          you similar music. Every week, we will make a personalized
                                          playlist, which you can give a listen to. This way, you will
                                          be able to discover new music, and never run out of it.
                                          Of course if you don't want us to collect your data,
                                          you can disable this by clicking on settings below. </p>
                                        <hr>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <i class="fa fa-gear"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Disable recommendations</a>
                                                </li>
                                                <li><a href="#">Another action</a>
                                                </li>
                                                <li><a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Responsive design</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Enjoy our app on a device of your choice. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
